.fade-enter-from{
    opacity: 0;
}
.fade-enter-active{
    opacity: .5;
    transition: 1s all;
}
.fade-enter-to{
    opacity: 1;
}
.fade-leave-from{
    opacity: 1;
}
.fade-leave-active{
    opacity: .5;
    transition: 1s all;
}
.fade-leave-to{
    opacity: 0;
}
